<div id="save-order-modal" class="modal">
  <div class="modal-content modal-sm">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 class="text-center"><%= t "admin_order.input_code" %></h2>
    </div>
    <div class="modal-body">
      <%= render "add_order_item" %>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
