<div id="myModal2" class="modal">
  <div class="modal-content modal-sm">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 class="text-center"><%= t "admin_order.input_code" %></h2>
    </div>
    <div class="modal-body">
      <div class="row row-padding">
        <div class="col-sm-8 text-center modal-part modal-left">
          <p class="discount-code-input">
            <%= t "admin_order.discount_code" %></p>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <input placeholder="<%= t "admin_order.your_code" %>"
                class="input-form form-control" id="discount-code-input">
              </input>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-center modal-part modal-left">
          <div class="btn-check">
            <i id="check-discount-code" class="fa fa-paper-plane"></i>
          </div>
        </div>
      </div>
      <%= render "discount_row", discount: discount %>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
