<% if order_dishes %>
  <% if order_dishes.any? %>
    <% order_dishes.each do |order_dish| %>
      <%= render "orders/cart_row", dish: order_dish.dish,
        order_dish: order_dish, show_total: true %>
    <% end %>
  <% end %>
  <% if order_combos.any? %>
    <% order_combos.each do |order_combo| %>
      <%= render "orders/cart_row_combo", combo: order_combo.combo,
        order_combo: order_combo, show_total: true %>
    <% end %>
  <% end %>
<% else %>
  <p class="text-center">
    <%= link_to t("order.empty_item"), dishes_path %>
  </p>
<% end %>
