<section id="top" class="parallax-section">
  <div class="home-overlay">
    <div id="top2">
      <%= render "shared/flash" %><br><br><br>
      <h1 class="home-title"><%= t "brand" %></h1>
    </div>
  </div>
</section>
