<div class="row">
  <div class="col-sm-12 mg-center">
    <div class="panel-group" id="accordion" role="tablist"
      aria-multiselectable="true">
      <div class="panel panel-default">
        <%= render "tables/guest_code" %>
      </div>
      <div class="panel panel-default">
        <%= render "new_guest_form", guest: guest %>
      </div>
    </div>
  </div>
</div>
