<link href="//fonts.googleapis.com/css?family=Khand" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Varela" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Abel" rel="stylesheet">
<section class="section">
  <br><br><br>
  <section class="uk-grid">
    <div class="uk-width-1-1">
      <div class="uk-panel uk-text-left tm-overlay-secondary tm-header-height">
        <div class="uk-overlay"></div>
        <div class="uk-cover-background uk-flex uk-flex-middle"></div>
        <div class="uk-container">
          <h1 class="uk-module-title-alt"><%= t ".title" %></h1>
          <h5><%= t ".slogan" %></h5>
        </div>
      </div>
    </div>
  </section>
  <br>
  <div id="dishes" class="wrapper main-content">
    <%= render "dish" %>
  </div>
  <br>
</section>
