$red: #85212d;
$salem: #0ba73e;
$jellybean: #2a8797;
$black: #001234;
$white: #fff;

.w180 {
  margin-left: 10px;
  width: 80%;
}

.add a {
  font-size: 16px;
  font-weight: 500;
  margin-left: -15px;
}

.form-control-feedback {
  margin-right: 34%;
  opacity: .3;
  top: 8px;
}

tr {
  font-family: monospace !important;
  line-height: 22px;

  a {
    color: $black !important;
    font-size: 18px !important;
  }
}

.fa-times {
  color: $red !important;
}

.search-combo-button {
  font-size: 14px !important;
  margin-top: -4px !important;
}

.form-label {
  color: $black !important;
  font-size: 20px !important;
}

.back {
  color: $white !important;
}

.edit-combo-button {
  margin-top: -30px;
}
