@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$orangered: #ff4500;
$navbar-right: #110606;
$spectra: #2f4f4f;
$caribbean-green: #05a793;
$light-green: #0ac986;
$bitter: #8f8f81;
$alabaster: #f9f9f9;
$white: #fff;
$geyser: #c9dadd;
$dove-gray: #666;
$meadow: #22be5c;
$shamrock: #32c6a1;
$pink: #dd7e89;
$red: #f00;
$salem: #0ba73e;
$jellybean: #2a8797;
$black: #000;
$hippie-green: #468847;
$dark-red: #8b0000;
$blue: #00f;
$cerulean: #0a93cc;
$silver: #bdbdbd;
$tundora: #4c4a4a;
$gallery: #eaeaea;
$alto: #dadada;
$light-grey: #f0f0f0;
$grey: #ededed;
$silver-chalice: #afaeae;
$light-blue: #98bcdf;
$gray-dark: #444;
$mexican-red: #a41f35;
$scorpion: #5f5b5b;
$alabaster: #fafafa;
$mystic: #e1e8ed;
$abbey: #595a5d;
$sushi: #82b440;
$dark-sushi: #6f9a37;
$green-sushi: #7aa93c;
$boulder: #787878;
$emperor: #545454;
$bondi-blue: #0084b4;
$dark-salem: #0a6f42;
$cornflower-blue: #6495ed;
$wild-sand: #f4f4f4;
$cucumber: #89b556;
$gray-light: #eee;
$mercury: #e3e3e3;
$light-alabaster: #fcfcfc;
$gray: #919191;
$carrot: #f9993e;
$dark-blue: #24297f;
$grape: #4a1951;
$east-bay: #4d508e;
$cardinal: #d11f25;
$jelly-blue: #2d97a7;
$yellow: #ff0;
$golden: #e6c600;
$golden-dark: #b89d00;
$alto: #ddd;
$dark-silver: #aaa;
$dark-white: rgba(246, 229, 209, .3);
$martini: rgba(180, 160, 160, .3);
$black-opacity: rgba(0, 0, 0, .2);
$gray-opacity: rgba(84, 84, 84, .89);
$gray-darked: rgba(100, 96, 99, 0);
$gray-darked2: rgba(100, 96, 99, .85);
$white-light: rgba(251, 251, 255, .86);
$blossom: rgba(255, 134, 147, .65);
$dark-blossom: rgba(188, 114, 113, .66);
$brick: rgba(155, 34, 45, .93);
$spring-green: rgba(36, 255, 109, .75);
$bermuda: rgba(137, 222, 200, .76);
$pelorous: rgba(54, 178, 194, .71);
$pelorous-opacity: rgba(54, 178, 194, .91);
$black-light: rgba(0, 0, 0, .25);
$grey-opacity: rgba(119, 119, 119, .58);
$blue-opacity: rgba(44, 76, 134, .68);
$grey-black: rgba(0, 0, 0, 0);
$black-like: rgba(0, 0, 0, .6);
$black-haft: rgba(0, 0, 0, .5);
$black-dark: rgba(0, 0, 0, .8);
$fiord: rgba(70, 75, 110, .247059);
$admin-background: rgba(185, 176, 176, .2);
$slide-link: #07a6f5;
$form-background: rgba(253, 255, 255, .7);
$btn-color1: #41deb6;
$form-control-color: #23ffd0;
$outside-ground: rgba(168, 129, 110, .82);
$inside-ground: rgba(199, 194, 155, .93);
$modal-start: #ffafbd;
$modal-end: #ffc3a0;
$modal: linear-gradient(to right, $modal-start, $modal-end);
$modal-border: #888;
$modal-background: rgba(0, 0, 0, .4);
$menu-grid: #5a2149;
$royalblue: #4169e1;
$black-light2: #252525;
$text-block-color: #383838;
$text-block-color2: #666;
$btn-all-color: rgba(237, 237, 237, 1);
$btn-all-color2: rgba(246, 246, 246, 1);
$btn-all-color3: rgba(255, 255, 255, 1);
$order-color: #63a8c9;
$cornflowerblue: #6495ed;
$pj-button: #b5b7b9;
$pj-button2: #dedede;
$pj-button3: #363434;
$greenyellow: #adff2f;
$label-red: #b94a48;
$label-green: #468847;
$btn-green: #0a922d;
$black-overlay: rgba(0, 0, 0, .3);
$flash-shadow: rgba(34, 34, 34, .68);
$input: rgba(228, 223, 222, .6);
$gradient1: #cf7f62;
$gradient2: #f46058;
$gradient3: #f3114b;
$gradient4: #ff7e5f;
$gradient5: #feb47b;
$gradient-hover: linear-gradient(141deg, $gradient1 0%,
  $gradient2 25%, $gradient3 75%);
$gradient: linear-gradient(to right, $gradient4, $gradient5);

.fade-in-left {
  animation: fadeInDown;
  animation-duration: 2s;
}

.footer {
  background: url("http://i.imgur.com/BaR1099.jpg") no-repeat center center !important;
  background-size: 200%;
  bottom: 0;
  margin-top: 0;
  padding: 20px 0;
  width: 100%;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.feature-thumb {
  background: url("http://i.imgur.com/WM7FQSt.jpg") no-repeat center center;
  background-size: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.animated.faded {
  animation-duration: 5s;
  animation-iteration-count: 2;
  animation-name: fading, bounce;
}

@keyframes fading {
  from,
  to {
    color: $orangered;
  }

  50% {
    color: $spectra;
  }
}

@keyframes bounce {
  0%, 8%, 22%, 32%, to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: translateZ(0);
  }

  16%, 18% {
    transform: translate3d(0, -30px, 0);
  }

  16%, 18%, 28% {
    animation-timing-function: cubic-bezier(.755, .05, .855, .06);
  }

  28% {
    transform: translate3d(0, -15px, 0);
  }

  35% {
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

.nav.navbar-nav.navbar-right li a:hover {
  color: $caribbean-green;
  font-weight: bold;
}

#brand {
  font-family: "Love Ya Like A Sister";
  font-size: 2.5vw;
  font-weight: bolder;
}

#top {
  animation-duration: .6s;
  animation-name: fadeInDown;
  background: no-repeat center center;
  background-size: cover;
  filter: blur(.4px);
  height: 100vh;
}

#top2 {
  background: $black-overlay;
  color: $white;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.navbar {
  background: $white;
  box-shadow: 0 4px 6px $bitter;
  margin-bottom: 1px;
  min-height: 7vh !important;
  position: fixed;
  width: 100%;
}

.fit {
  max-width: 100%;
}

.center {
  display: block;
  margin: auto;
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    color: $orangered;
  }

  0% {
    color: $orangered;
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    color: $orangered;
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    color: $orangered;
    opacity: 1;
    transform: scaleX(1);
  }
}

#brand:hover {
  animation-duration: 1.75s;
  animation-fill-mode: both;
  animation-iteration-count: 2;
  animation-name: bounceIn;
}

.dpdwn {
  ul {
    display: none;
  }
}

.dpdwn:hover ul {
  animation-delay: .1s;
  animation-name: fadeIn;
  background-color: $alabaster;
  box-shadow: 0 8px 16px 0 $black-opacity;
  display: inline-block;
  list-style-type: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;

  li a {
    color: $gray-opacity;
  }
}

#admin {
  margin-left: -30px;
  margin-right: -30px;

  a {
    color: $gray-darked;
  }
}

#admin:hover {
  background: url("https://cdn4.iconfinder.com/data/icons/gray-user-management/512/computer-512.png")
    no-repeat center;
  background-size: 25%;
  display: inline;
}

#login {
  background: url("http://i.imgur.com/g8AiwIu.jpg") no-repeat;
  background-size: cover;
  filter: blur(.4px);
  min-height: 100vh;
}

.login-form {
  animation: fadeIn 2.5s;
  background: $white-light;
  border-radius: 4px;
  left: 0;
  margin: auto;
  max-height: 90vh;
  overflow: auto;
  padding: 20px 15px;
  position: absolute;
  right: 0;
  top: 52%;
  transform: translateY(-50%);
  width: 500px;
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}

.form-control {
  background: $white;
  border: 2px solid $geyser;
  border-radius: 4px;
  color: $dove-gray;
  height: 50px;
  padding: 5px 7px 5px 15px;
  width: 100%;
}

.log-btn {
  background: $golden;
  border: 1px solid $golden-dark;
  border-radius: 4px;
  color: $white;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  margin-top: 10px;
  text-decoration: none;
  width: 100%;
}

.log-btn-2 {
  background: $light-green;
  border: 1px solid $green-sushi;
  border-radius: 4px;
  color: $white;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  margin-top: 10px;
  text-decoration: none;
}

.log-btn:hover {
  background: $golden;
}

.btn2 {
  background: $btn-green !important;
}

.link {
  color: $shamrock;
  float: right;
  font-size: 12px;
  margin-bottom: 15px;
  text-decoration: none;
}

.link:hover {
  color: $pink;
  text-decoration: double;
}

.alert {
  color: $red;
  display: none;
  float: left;
  font-size: 12px;
}

.error,
.alert,
.notice,
.info,
.danger {
  background: $blossom;
  border: 1px solid $dark-blossom;
  border-radius: 5px;
  color: $brick;
  font-size: 15px;
  padding: 8px;
}

.success {
  background: $blossom;
  border: $spring-green;
  border-radius: 5px;
  color: $salem;
  font-size: 15px;
  padding: 8px;
}

#admin-show {
  animation-duration: 1.5s;
  animation-name: fadeInDown;
  background: url("http://i.imgur.com/g8AiwIu.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(.4px);
  height: 100vh;
}

.profile {
  background: $bermuda;
  border-radius: 4px;
  color: $white;
  font-size: 20px;
  left: 0;
  margin: 20px 20px 40px;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  top: 11%;
  transform: translateY(-50%);
}

.edit-pass {
  background: $pelorous;
  border: 1px solid $jelly-blue;
  border-radius: 5px;
  color: $white;
  margin-bottom: 5px;
  padding: 5px 20px;
  text-align: center;
}

.edit-pass:hover {
  background: $pelorous-opacity;
  border: 1px solid $jellybean;
}

.flash-notice {
  border-radius: 4px;
  display: block;
  left: 0;
  margin: auto;
  padding: 20px 15px;
  position: absolute;
  right: 0;
  top: 22%;
  transform: translateY(-50%);
  width: 550px;
}

.edit-pass-content-show {
  display: block;
}

.edit-pass-content-hide {
  display: none;
}

.choose {
  label {
    color: $black;
    font-size: 16px;
  }
}

.section {
  color: $black;
  min-height: 100vh;
  overflow-y: auto;

  h1 {
    font-size: 30px;
    letter-spacing: 2px;
    padding-top: 20px;
  }
}

.search-form {
  font-size: 18px;
}

.counter {
  font-size: 18px;
  padding-bottom: 1em;
}

.default-dg-table {
  border-collapse: collapse;
  font-size: 22px;
  margin: 0;
  width: 100%;

  img {
    margin-right: -10px;
  }

  .badge-green span,
  .badge-red span {
    border-radius: 9px;
    color: $white;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    padding: 3px 0;
    text-align: center;
    text-shadow: 0 -1px 0 $black-light;
    vertical-align: baseline;
    white-space: nowrap;
    width: 30px;
  }

  .badge-green span {
    background-color: $hippie-green;
  }

  .badge-red span {
    background-color: $dark-red;
  }

  a {
    color: $blue;
    text-shadow: $dove-gray;
  }

  a:hover {
    color: $red;
  }

  tr th:first-child {
    padding-left: 5px;
  }

  th {
    float: none;
    text-align: left;
  }

  thead th {
    color: $cerulean;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 2px;
  }

  thead th {
    border-bottom: 1px solid $silver;
    line-height: 20px;
  }

  tr {
    color: $tundora !important;
    font-size: 16px;
    line-height: 22px;
  }

  tr:hover td {
    background-color: $mystic;
    border-bottom: 1px solid $alto;
    border-top: 1px solid $white;
    color: $black !important;
  }

  tr:nth-child(2n+1) td {
    background-color: $light-grey;
  }

  tr td {
    border-bottom: 1px solid $alto;
    border-top: 1px solid $white;
    height: 30px;
    padding-left: 15px;
    text-align: left;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;
  }

  .dg-nowrap {
    padding-left: 10px;
    white-space: nowrap;

    .img {
      cursor: pointer;
      position: center;
    }
  }

  .dg-center {
    text-align: center;
  }

  .dg-left {
    text-align: left;
  }

  .dg-right {
    text-align: right;
  }

  .default-dg-label {
    font-size: 22px;
  }

  .dg1 {
    width: 10%;
  }

  .dg2 {
    width: 50%;
  }

  .dg3 {
    width: 20%;
  }

  img {
    border: 0;
    height: 25px;
    width: 25px;
  }
}

.wrapper {
  width: auto;

  .items {
    margin-bottom: 80px;

    h2 {
      color: $red;
      display: block;
      font-weight: bolder;
      text-align: center;
    }

    h4 {
      display: block;
      font-family: "Abel";
      font-size: 20px;
      font-weight: 600;
      margin-top: 10px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .item {
    overflow: hidden;
    position: relative;
  }

  .img-responsive {
    display: block;
    height: 230px;
    width: 100%;
  }
}

.item-inner {
  border: 2px solid $grey;
  box-shadow: 0 1px 2px $grey-opacity;
  box-sizing: border-box;
}

.item-inner:hover {
  border: solid 2px $blue-opacity;
}

.button {
  left: 10%;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: opacity .35s ease;
  width: 80%;

  a {
    border: solid 2px $white;
    color: $white;
    font-size: 18px;
    padding: 12px 48px;
    text-align: center;
    width: 70%;
    z-index: 1;
  }
}

.item:hover .button {
  opacity: 1;
}

.overlay {
  background: $grey-black;
  color: $white;
  height: 91%;
  left: 10%;
  position: absolute;
  top: 5%;
  transition: background .5s ease;
  width: 80%;
}

.item:hover .overlay {
  background: $black-like;
  display: block;
}

.item:hover img {
  transform: scale(1.25);
  transition: all .5s ease-in-out;
}

::-ms-clear {
  display: none;
}

.form-control-clear {
  cursor: pointer;
  display: inline-block;
  pointer-events: auto;
  z-index: 10;
}

.bloc {
  background-color: $white;
  border: 1px solid $alto;
  box-shadow: 0 5px 10px $silver-chalice;
  margin-bottom: 50px;
  padding: 10px;

  span {
    font-size: 16px;
  }

  form {
    font-size: 16px;

    label {
      padding: 5px 20px 0 0;
    }
  }

  .form-dish {
    label {
      font-size: 14px;
    }

    a,
    [type=submit],
    [type=reset] {
      font-size: 16px;
      margin-top: -30px;
    }

    span {
      padding-right: 20px;
    }

    a,
    [type=submit],
    [type=reset] {
      display: inline;
      margin: 20px 0 0 20px;
    }

    [type=text],
    textarea,
    [type=number] {
      margin-bottom: 10px;
    }
  }
}

.form {
  font-size: 18px;

  label {
    display: block;
    float: left;
    line-height: 17px;
    margin: 5px 0 0;
  }

  img {
    display: inline-block;
    margin: 5px 0;
  }

  .row {
    margin: 0;
    min-height: 32px;
  }

  input .small {
    width: 60px;
  }

  input:hover,
  textarea:hover,
  select:hover {
    border: 1px solid $light-blue;
  }

  textarea {
    height: 80px;
    max-width: 750px;
    padding: 4px;
    resize: both;
    width: 100%;
  }
}

.fancybox {
  display: none;
}

.view:focus + .fancybox {
  display: block;
}

.fancybox-overlay {
  background: url("https://www.99restaurants.com/_sites/ninetynine/includes/img/fancybox/fancybox_overlay.png");
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 8010;
}

.fancybox-overlay-fixed {
  bottom: 0;
  position: fixed;
  right: 0;
}

.fancybox-opened {
  height: auto;
  left: 413px;
  opacity: 1;
  overflow: visible;
  position: absolute;
  top: 20px;
  width: 500px;
  z-index: 8030;
}

.fancybox-wrap {
  height: auto;
  left: 50%;
  opacity: 1;
  overflow: visible;
  position: absolute;
  vertical-align: middle;
  width: 500px;
  z-index: 8020;
}

.fancybox-opened .fancybox-skin {
  box-shadow: 0 10px 25px $black-haft;
  height: auto;
  left: 413px;
  opacity: 1;
  overflow: visible;
  position: absolute;
  top: 20px;
  width: 600px;
}

.fancybox-skin {
  background: $alabaster;
  border-radius: 4px;
  color: $gray-dark;
  height: auto;
  padding: 15px;
  position: relative;
  text-shadow: none;
  width: 100%;
}

.fancybox-outer,
.fancybox-inner,
.fancybox-image {
  border: 0;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: top;
}

.fancybox-outer {
  position: relative;
}

.fancybox-inner {
  height: auto;
  overflow: visible;
  width: 570px;
}

.fancybox-image {
  display: block;
  height: 100%;
  width: 100%;
}

.fancybox-close {
  background-image: url("https://www.99restaurants.com/_sites/ninetynine/includes/img/fancybox/fancybox_sprite.png");
  cursor: pointer;
  height: 36px;
  position: absolute;
  right: -6%;
  top: -11%;
  width: 36px;
  z-index: 8040;
}

.dish {
  font-size: 14px;

  p {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility;
  }

  i {
    line-height: inherit;
  }
}

.menu {
  background-color: $white;
  float: left;
  font-size: 20px;
  padding: 10px 0 15px;
  position: relative;

  .cover {
    height: auto;
    width: 600px;
  }

  .menu-desc {
    margin-bottom: -10px;
  }

  .menu-entry {
    height: 120px;
    margin: 0 0 2em 10px;
    max-width: 95%;
  }

  .menu-entry-head {
    display: table;
    margin-top: 20px;
    position: relative;
    width: 100%;
  }

  .menu-entry-title {
    background: $white;
    display: table-cell;
    float: left;
    font-weight: 600;
    position: relative;
    vertical-align: top;

    a {
      color: $mexican-red;
    }

    .tag {
      background: $white;
      color: $mexican-red;
      line-height: 4.5;
      position: relative;
      text-transform: uppercase;
      white-space: normal;
      z-index: 2;
    }
  }

  .menu-entry-price {
    background: $white;
    color: $scorpion;
    display: table-cell;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 10px 0 10px 10px;
    position: relative;
    text-align: right;
    vertical-align: top;
    z-index: 2;
  }

  .menu-entry-desc {
    color: $scorpion;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
  }

  .menu-entry-image {
    color: transparent;
    display: inline;
    float: right;
    font-size: 12px;
    height: 20px;
    margin: 0 0 10px 10px;
    padding: 15px 0 10px 10px;
    position: relative;
  }

  .fa-camera {
    color: $mexican-red;
    cursor: pointer;
    left: 0;
    top: 5px;
  }
}

.box-left {
  background-color: $alabaster;
  border: 1px solid $mystic;
  border-radius: 4px;
  color: $dove-gray;
  float: left;
  margin-bottom: 20px;
  width: 100%;

  .item-preview {
    min-height: 245px;
    padding: 12px;
    position: relative;
    text-align: center;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}

.sidebar-right {
  float: right;
  margin-left: 18px;
  margin-right: 0;
  width: 100%;

  .info-panel {
    background: $white;
    border: 1px solid $mystic;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 15px 25px;

    .info-main {
      display: table;
      line-height: 1;
      margin-bottom: 8px;
      width: 100%;
    }

    .info-name {
      color: $abbey;
      display: table-cell;
      font-size: 32px;
      font-weight: bold;
      height: 40px;
      padding-right: 10px;
      vertical-align: middle;
    }

    .info-price {
      color: $red;
      display: table-cell;
      text-align: right;
      vertical-align: middle;
    }

    .heading {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 16px;
      padding: 0;
    }

    .icon {
      font-size: 36px;
      font-weight: normal;
      margin-right: 3px;
      vertical-align: middle;
    }

    .size-xxl {
      font-size: 54px;
    }

    .info-support {
      border-top: 1px solid $mystic;
      padding-bottom: 15px;
      padding-left: 4px;
      padding-top: 12px;
    }

    .check {
      margin-bottom: 20px;
    }

    .t-currency {
      display: inline-block;
      font-weight: inherit;
      line-height: 1;
    }

    [type=submit] {
      border: 0;
      border-radius: 4px;
      box-sizing: border-box;
      color: $white;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      line-height: 1.5;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      width: 100%;
    }

    .add-to-cart {
      background-color: $sushi;
      box-shadow: 0 2px 0 $dark-sushi;
      height: 35px;
      position: relative;
    }

    .add-to-cart:hover {
      background-color: $green-sushi;
    }

    .buy-now {
      background-color: $jellybean;
      box-shadow: 0 2px 0 $emperor;
      position: relative;

      a {
        color: $white;
      }
    }

    .buy-now:hover {
      background-color: $bondi-blue;
      outline: none;
      text-decoration: none;
    }
  }
}

.apple-pagination {
  cursor: default;
  font-size: 18px;
  font-weight: 200;
  text-align: center;

  a,
  span {
    padding: 0 2px;
  }

  .disabled {
    color: $dark-silver;
  }

  .current {
    background-color: $cornflower-blue;
    border-radius: 1em;
    color: $white;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    height: 2em;
    padding-top: 5px;
    width: 2em;
  }

  a {
    color: $cornflower-blue;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

.slide {
  .hot {
    background: url("http://benchwarmer.com/wp-content/themes/benchwarmer/images/tag-hot-item.png")
      no-repeat scroll 0 0 transparent;
    height: 159px;
    left: -15px;
    overflow: visible;
    position: absolute;
    text-indent: -999em;
    top: -15px;
    width: 159px;
    z-index: 2;
  }

  .link {
    background: $black-dark;
    color: $slide-link;
    font-size: 20px;
    font-weight: 700;
    height: 100%;
    left: 0;
    padding: 10px 30px 0;
    position: absolute;
    top: 250px;
    width: 100%;
  }

  p {
    color: $white;
    font-size: 16px;
    padding: 0 0 0 30px;
    position: absolute;
    top: 83%;
  }

  h1 {
    background: url("https://drive.google.com/uc?id=0B9VYzD5V43judXpab2w5YzhMZ2c")
      no-repeat scroll 0 0 transparent;
    color: $white;
    float: right;
    font-family: "Open Sans Condensed";
    font-size: 50px;
    font-weight: 700;
    height: 100%;
    left: 75%;
    letter-spacing: -2px;
    padding: 20px 10px 0 0;
    position: absolute;
    top: 63%;
    width: 100%;
  }

  .valid {
    color: $red;
    font-size: 18px;
    font-weight: 700;
  }

  .des p {
    color: $white;
    font-size: 16px;
    padding: 0 0 0 30px;
    position: absolute;
    top: 63%;
  }

  .des a {
    background: transparent;
    color: $yellow;
    display: inline;
    font-size: 20px;
    font-weight: 700;
    height: 14%;
    left: 0;
    padding: 10px 10px 0 30px;
    position: absolute;
    top: 85%;
    vertical-align: middle;
    width: 28%;
  }
}

.owl-carousel a {
  img {
    height: 350px;
    position: relative;
    width: 100%;
  }
}

.combo-user {
  background: $white;
  margin: -10px 2% 50px;
  width: 96%;
}

.combos {
  background: $wild-sand;
}

.deal-container {
  font-family: "Libre Baskerville";
  padding: 5px 0;
  width: auto;
}

.deal-container .lazy-img {
  opacity: 0;
  transition: opacity .3s ease-in;
}

.deal-container .deal:hover {
  border: solid 2px $cucumber;
  box-shadow: 2px 2px 2px $gray-light;
}

.deal-container .deal {
  border: 2px solid $grey;
  box-shadow: 0 1px 2px $gray-light;
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 1% 20px;
  position: relative;
  width: 31%;

  .display {
    display: block;
    padding: 5px 24px;
  }

  img {
    height: 186px;
    opacity: 1;
    width: 100%;
  }

  .description {
    font-family: "Slabo 27px";
    font-size: 16px;
    height: 80px;
    padding: 0 10px;
  }

  h1 {
    border-bottom: 1px solid $mercury;
    font-size: 20px;
    font-weight: bold;
    height: 75px;
    letter-spacing: 0;
    line-height: normal;
    margin: 0;
    overflow: hidden;
    padding-top: 5px;
  }

  .details {
    background: $light-alabaster;
    box-sizing: border-box;
    color: $gray;
    height: 55px;
    list-style-type: none;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 10px 0;
  }

  .deal-new-deal {
    background: url("http://d1sttufwfa12ee.cloudfront.net/images/alldeals/newdeal.png")
     no-repeat scroll 0 0 transparent;
    height: 92px;
    overflow: hidden;
    position: absolute;
    right: -5px;
    text-indent: -999em;
    top: -3px;
    width: 92px;
    z-index: 2;
  }
}

.valid p {
  color: $red;
  font-family: "Yanone Kaffeesatz";
  font-size: 20px;
  font-weight: normal;
  padding: 5px 10px 0;
}

.details ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-after: 1em;
  -webkit-margin-before: 1em;
  -webkit-margin-end: 0;
  -webkit-margin-start: 0;
  -webkit-padding-start: 40px;
}

.details li {
  display: list-item;
  float: left;
  line-height: 55px;
  margin-left: 7px;
  text-align: -webkit-match-parent;
}

.details .price {
  color: $carrot;
  font-size: 27px;
  font-weight: bolder;
}

.details .value {
  border-right: 1px solid $mercury;
  font-size: 23px;
  padding: 0 10px;
  text-decoration: line-through;
}

.details .discount {
  color: $red;
  font-size: 25px;
  font-weight: 700;
  padding-left: 10px;
}

.deal a {
  color: $dark-blue;
}

.deal a:visited {
  color: $grape;
}

.deal a:hover {
  color: $east-bay;
}

.btn-red {
  background-color: $cardinal;
  border: 0;
  border-radius: 4px;
  display: inline-block;
  height: 48px;
  outline: none;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.btn-red a {
  color: $white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 48px;
}

.btn-red a:hover {
  color: $white;
  cursor: pointer;
}

.btn-red a:visited {
  color: $white;
  cursor: pointer;
}

.uk-grid {
  flex-wrap: wrap;
  list-style: none;
  margin: -10px;
  padding: 0;
}

.uk-width-1-1 {
  width: 100%;
}

.uk-text-left {
  text-align: left !important;
}

.tm-overlay-secondary {
  background-color: $fiord;
}

.uk-module-title-alt {
  display: table;
  position: relative;
}

.uk-text-left .uk-module-title-alt {
  display: inline-block;
}

.uk-panel {
  display: block;
  position: relative;
}

.uk-panel,
.uk-panel:hover {
  text-decoration: none;
}

.uk-flex {
  display: flex;
}

.uk-flex-middle {
  align-items: center;
}

.tm-header-height {
  height: 95vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.tm-header-height:hover .uk-cover-background {
  transform: scale(1.2);
}

.uk-cover-background {
  background: url("https://drive.google.com/uc?id=0B9VYzD5V43juYzlHRjZSVnM4eFU") no-repeat center center;
  background-size: cover;
  height: 100%;
  position: absolute;
  transition: all .5s;
  width: 100%;
}

.uk-overlay {
  background-color: $black;
  height: 100%;
  left: 0;
  opacity: .5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.uk-container {
  box-sizing: border-box;
  float: left;
  position: absolute;
  top: 30%;
  z-index: 20;

  h1 {
    color: $white;
    font-size: 54px;
    font-weight: 700;
    line-height: 48px;
    margin-top: 15px !important;
    padding: 0 0 0 50px;
    text-shadow: 0 1px 2px $black-opacity;
  }

  h5 {
    color: $white;
    font-family: "Khand";
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    margin: 0 0 15px;
    padding: 10px 0 0 50px;
    text-transform: uppercase;
  }
}

.admin-site {
  background: $admin-background;

  h1 {
    font-family: "Oswald";
    font-size: 44px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }

  .form-control {
    font-size: 18px;
    height: auto;
  }

  li {
    font-size: 16px;
    margin-left: 20px;
  }
}

.flash-message {
  border-radius: 4px;
  display: block;
  left: 0;
  margin: auto;
  padding: 20px 15px;
  right: 0;
  top: 50%;
}

.morecontent span {
  display: none;
}

.morelink {
  display: block;

  &:visited,
  &:hover,
  &:focus {
    color: $cerulean;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.red {
  color: $red;
  font-weight: bolder;
}

.uk-flex-center {
  justify-content: center;
}

.uk-subnav {
  display: flex;
  flex: none;
  flex-wrap: wrap;
  font-size: 16px;
  list-style: none;
  margin-left: -10px;
  margin-top: 30px;
  padding: 0;
  position: relative;
}

.uk-subnav li {
  letter-spacing: 1px;
  margin: 0 10px;
  padding: 5px;
  text-transform: uppercase;
}

.user-site {
  background: $admin-background;
}

.sortable-list {
  list-style-type: none;
  margin: 0 0 30px;
  padding: 0;

  a {
    color: $cornflower-blue;
    text-shadow: $text-block-color2;
  }

  a:hover {
    color: $red;
  }

  li {
    background: $white;
    color: $black;
    font-size: 20px;
    height: 40px;
    margin: 2px 0;
    padding: 0;
    position: relative;

    .title-holder {
      left: 15%;
      position: absolute;
      top: 3px;
      width: 30%;

      a {
        color: $mexican-red;
      }

      a:hover {
        color: $red;
      }
    }

    .view-holder {
      left: 84%;
      position: absolute;
      top: 3px;
      width: 50px;
    }

    .edit-holder {
      left: 90%;
      position: absolute;
      top: 3px;
      width: 50px;
    }

    .delete-holder {
      left: 96%;
      position: absolute;
      top: 3px;
      width: 50px;
    }

    .order-holder {
      left: 20px;
      position: absolute;
      top: 3px;
      width: 50px;
    }
  }

  li:nth-child(2n) {
    background: $grey;
    border-bottom: 1px solid $alto;
  }
}

.sortable-list li:hover {
  background: $mystic;
  border-bottom: 1px solid $alto;
}

.sortable-list li:nth-child(1) {
  background: $white;
  border-top: 0;
}

.name-holder {
  height: 40px;
  left: 100px;
  position: absolute;
  top: 3px;
}

.option-holder {
  height: 40px;
  left: 90%;
  position: absolute;
  white-space: nowrap;
}

.order-holder {
  height: 40px;
  left: 20px;
  position: absolute;
  top: 3px;
}

.button-add {
  font-size: 16px;
  margin-left: 42%;
}

.form-order {
  font-size: 16px;

  select {
    background: $white;
    border-radius: 5%;
    margin: 0 0 15px;
    padding: 5px;
  }

  select:active,
  select:hover {
    background: $light-grey;
    outline-color: $red;
  }

  [type=text] {
    margin-bottom: 15px;
  }
}

.table-order {
  tr th:first-child {
    padding-left: 5px;
  }

  th {
    left {
      float: none;
      text-align: left;
    }
  }

  thead th {
    color: $cerulean;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 2px;
  }

  thead th {
    border-bottom: 1px solid $silver;
    line-height: 20px;
  }

  td {
    color: $black;
    font-size: 16px;
  }

  .width-90 {
    width: 90px !important;
  }

  .width-110 {
    width: 110px;
  }

  .width-150 {
    width: 150px;
  }

  .width-170 {
    width: 170px;
  }

  .width-20 {
    width: 20px;
  }

  .label-green,
  .label-red {
    border-radius: 9px;
    color: $white;
    display: inline-block;
    font-weight: normal;
    line-height: 15px;
    padding: 3px 9px;
    text-shadow: 0 -1px 0 $black-light;
    vertical-align: baseline;
    white-space: nowrap;
    width: auto;
  }

  .label-green {
    background-color: $label-green;
  }

  .label-red {
    background-color: $label-red;
  }

  a {
    color: $cornflowerblue;
    cursor: pointer;
  }
}

.form-control-feedback {
  right: 3px;
  text-align: left;
  top: 3px;
}

.status {
  margin-left: 0;

  .btn {
    height: 38px;
  }
}

.search-button {
  margin-left: 50px;

  [type=submit] {
    font-size: 16px;
  }
}

.search-input {
  margin-left: -20px;
}

#hideshow:active ~ #content {
  display: none;
}

#clear:checked + #content {
  display: none;
}

.pj-form-filter-advanced {
  background: transparent;
  border: solid 1px $alto;
  border-radius: 5px;
  margin: 20px 0;
  overflow: hidden;
  padding-top: 20px;
  position: relative;

  .title {
    display: block;
    float: left;
    padding: 6px 0 0;
    width: 25%;
  }

  .date {
    display: block;
    float: left;
    padding: 6px 0 0;
    width: 30%;
  }

  .pj-menu-list-arrow {
    background: transparent url("http://demo.phpjabbers.com/1491512212_474/core/framework/libs/pj/img/pj-menu-arrow-up.png") 0 0 no-repeat;
    display: block;
    height: 7px;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 8px;
    z-index: 9995;
  }
}

.pj-form-search {
  margin: 6px 0 0;
  padding: 15px;
}

.pj-button {
  border: solid 1px $alto;
  border-radius: 3px;
  color: $boulder;
  cursor: pointer;
  font: normal 18px Verdana, sans-serif;
  padding: 7px 15px;
  position: relative;
}

.pj-button-detailed,
.pj-button-detailed:link,
.pj-button-detailed:active,
.pj-button-detailed:visited {
  background: $alabaster url("http://demo.phpjabbers.com/1491512212_474/core/framework/libs/pj/img/pj-button-arrow-down.png") no-repeat center center;
  box-shadow: 1px 1px 1px $alabaster;
  padding: 15px;
  text-decoration: none;
}

.pj-button-detailed:hover {
  background: $pj-button2
    url("http://demo.phpjabbers.com/1491512212_474/core/framework/libs/pj/img/pj-button-arrow-down.png")
    no-repeat center center;
  border: solid 1px $pj-button;
  color: $pj-button3 !important;
  text-decoration: none;
}

.pj-button-detailed {
  vertical-align: top;
  width: 30px;
}

.pj-form-field {
  background-color: $white;
  border: solid 1px $alto;
  border-radius: 3px;
  box-shadow: inset 1px 1px 1px $gray-light;
  font: normal 16px Verdana, sans-serif;
  font-family: Verdana !important;
  padding: 7px 6px;
}

.pj-form-field [type=text] {
  height: 14px;
  margin-top: 5px;
  padding: 7px 6px;
}

.pj-form-field-custom {
  display: inline-block;
}

.pj-form-field-custom-after {
  position: relative;

  .pj-form-field {
    border-radius: 3px 0 0 3px;
    float: left;
    line-height: 14px;
    margin: 0;
    padding: 7px 6px;
    vertical-align: top;
  }
}

.w180 {
  width: 63%;
}

.w350 {
  float: left;
  width: 33%;
}

.pointer {
  cursor: pointer;
}

.f-text.f-calendar {
  background: url("http://www.hungrydeals.sg/bundles/insingpromotion/images/sprite_repeat.png") no-repeat right center;
  padding-right: 40px;
}

.f-text {
  border: 1px solid $alto;
  border-radius: 4px;
  color: $black;
  display: block;
  font-family: "hgw-HelveticaNeue", Arial, sans-serif !important;
  max-width: 60% !important;
}

.t5 {
  margin-top: 10px;
}

.float-right {
  float: right;
}

.pj-button-active {
  background: $pj-button2;
  border: solid 1px $pj-button;
  color: $pj-button3 !important;
}

.pj-button:not([disabled]):hover {
  background: $greenyellow;
  border: solid 1px $pj-button;
  color: $white !important;
  text-decoration: none;
}

.pj-form-field-search {
  background: url("https://s-media-cache-ak0.pinimg.com/originals/0c/00/bf/0c00bf7579cd612681ca19684d4d8a68.jpg") 98% 50% no-repeat;
  background-size: 26px 26px;
  font-size: 18px !important;
  padding-right: 40px;
}

.r10 {
  margin-right: 10px;
}

.float-left {
  float: left;
}

.pj-link {
  background: $cornflowerblue;
  border: solid 1px $cornflowerblue;
  border-radius: 3px;
  color: $white !important;
  cursor: pointer;
  font: normal 18px Verdana, sans-serif;
  font-weight: 500;
  padding: 7px 15px;
  position: relative;
}

#orders {
  a:link,
  a:visited,
  a:active,
  a:hover {
    color: $order-color;
    outline: none;
  }
}

.btn-all {
  background: linear-gradient(to bottom, $btn-all-color 0%, $btn-all-color2 53%, $btn-all-color3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#fff', GradientType=0);
}

.icon-big {
  height: 180px !important;
  width: 300px !important;
}

.combo-admin {
  tr:nth-child(2n) td {
    background-color: $light-grey;
  }

  tr:nth-child(2n+1) td {
    background-color: $white;
  }
}

.layer1 {
  background-color: $black;
  height: 114%;
  left: 0;
  opacity: .6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.background-layer {
  background: url("https://demo.arrowthemes.com/joomla/gaucho/images/demo/indigo/slider/3.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  left: 0;
  min-height: 500px;
  position: absolute;
  top: 0;
  width: 100%;
}

.lightbox-false {
  height: 560px;
  width: 800px;
}

.mk-main-wrapper-holder {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

#text-block-26,
#text-block-28 p {
  color: $text-block-color2;
  font-size: 14px;
  line-height: 1.50em;
}

.theme-page-wrapper {
  margin: 20px auto;
}

.mk-grid {
  max-width: 1140px;
}

.theme-content {
  padding: 30px 20px;
}

.vc-row {
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.mk-padding-wrapper .vc-col-sm-12 {
  margin-top: 6%;
}

.vc-col-sm-12 {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.vc-col-sm-6 {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 50%;
}

#padding-16 {
  height: 60px;
}

.clearfix {
  clear: both;
  display: block;
}

.height-full {
  height: 100%;
}

#text-block-17 {
  margin-bottom: 0;
  text-align: left;
}

#text-block-17 p {
  color: $text-block-color;
}

.clearboth {
  height: 0;
  overflow: hidden;
}

.mk-image {
  line-height: 4px;
  position: relative;
}

.mk-image .mk-image-inner {
  overflow: hidden;
  position: relative;
  width: auto;
}

.mk-image-inner img {
  height: auto;
  width: 100%;
}

.full-width-19 {
  margin-bottom: 0;
  min-height: 100px;
}

.mk-page-section {
  position: relative;
  width: 100%;
}

.center-y {
  align-items: center;
  display: flex;
}

.mk-page-section-wrapper {
  box-direction: normal;
  box-orient: horizontal;
  box-sizing: border-box;
  display: flex;
  filter: blur(.4px);
  flex-direction: row;
}

.mk-grid {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.mk-page-section .vc-row-fluid {
  position: relative;
  z-index: 10;
}

.mk-image-holder {
  max-width: 900px;
  text-align: left;
}

.vc-row,
.vc-inner.vc-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mk-page-section .vc-row-fluid {
  z-index: 10;
}

.vc-column-container {
  padding-left: 0;
  padding-right: 0;
}

.vc-column-container>.vc-column-inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.mk-gallery .two-column {
  width: 50%;
}

.mk-gallery-item {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

#gallery-loop-20 .item-holder {
  margin: 0 4px 8px;
}

.mk-gallery .item-holder {
  height: 177px;
  line-height: 4px;
  margin: 0 8px 16px;
  overflow: hidden;
  position: relative;
}

#gallery-loop-20 .image-hover-overlay {
  background-color: $menu-grid !important;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .25s ease-in-out;
  z-index: 10;
}

#gallery-loop-20 .item-holder {
  margin: 0 4px 8px;
}

.mk-gallery .item-holder {
  line-height: 4px;
  margin: 0 8px 16px;
  overflow: hidden;
  position: relative;
}

.item-holder img {
  height: 177px;
  transform: scale(1);
  transition: .7s ease all;
  width: 263px;
}

.item-holder:hover img {
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  top: 0;
  transform: scale(1.5);
  transition: all 4s ease;
  width: 100%;
}

.mk-image-lightbox {
  color: $white !important;
  cursor: pointer;
  height: 100px;
  left: 50%;
  margin: -50px 0 0 -50px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: opacity .25s ease-in-out;
  width: 100px;
  z-index: 30;
}

#fancy-title-21 {
  color: $white;
  font-size: 48px;
  font-style: inherit;
  font-weight: bold;
  letter-spacing: 0;
  padding-bottom: 0;
  padding-top: 40px;
  text-align: center;
  text-transform: uppercase;
}

.master-holder h2 {
  color: $menu-grid;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.mk-fancy-title {
  margin-bottom: 18px;
}

.wpb-wrapper h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.3em;
  margin: 0 0 .8em;
  text-transform: none;
  word-wrap: break-word;
}

#text-block-22 {
  margin-bottom: 0;
  text-align: left;
}

#text-block-22 p {
  font-size: 16px;
  text-align: center;
}

#text-block-22 span {
  color: $white;
}

#mk-button-23 {
  margin-bottom: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

#mk-button-23 .mk-button {
  display: inline-block;
  max-width: 100%;
}

a:active,
a:focus,
a:hover,
a:link,
a:visited {
  outline: 0;
  text-decoration: none;
}

.mk-button-container {
  display: block;
  position: relative;
  text-align: center;
}

.mk-button {
  border: 2px solid;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 100%;
  overflow: hidden;
  padding: 20px 28px;
  text-align: center;
  transition: color .1s ease-in-out,background .1s ease-in-out,border .1s ease-in-out;
}

.skin-light:hover {
  background-color: $white;
  color: $black-light2;
}

.skin-light {
  border-color: $white;
  color: $white;
}

.skin-dark:hover {
  background-color: $royalblue;
  border-color: $white;
  color: $white;
}

.skin-dark {
  border-color: $royalblue;
  color: $royalblue;
}

.mk-button--text {
  backface-visibility: hidden;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
}

#fancy-title-25 {
  color: $menu-grid;
  font-size: 48px;
  font-style: inherit;
  font-weight: bold;
  letter-spacing: 0;
  padding-bottom: 0;
  padding-top: 40px;
  text-align: left;
  text-transform: uppercase;
}

.mk-fancy-title {
  margin-bottom: 18px;
}

.vc-inner .vc-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#text-block-26 {
  margin-bottom: 0;
  text-align: left;
}

#mk-button-27 {
  margin: 40px 15px 15px -8%;
}

#text-block-28 {
  margin-bottom: 0;
  text-align: left;
}

#padding-24 {
  height: 60px;
}

.default-section {
  animation-duration: .6s;
  animation-name: zoomIn;
  background: url("http://i.imgur.com/Jae9pVj.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(.4px);
  min-height: 100vh;
}

.transparent-div {
  animation-duration: 1.5s;
  animation-name: fadeIn;
  background: $form-background;
  border-radius: 4px;
  height: 85vh;
  left: 0;
  margin-left: 3vw;
  min-width: 350px;
  overflow: auto;
  padding: 0 15px;
  position: absolute;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  width: 40vw;
}

.transparent-div2 {
  animation-duration: 1.5s;
  animation-name: fadeIn;
  background: $form-background;
  border-radius: 4px;
  height: 85vh;
  left: 0;
  margin: auto;
  min-width: 450px;
  overflow: auto;
  padding: 0 15px;
  position: absolute;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  width: 50vw;
}

.transparent-div3 {
  animation-duration: 1.5s;
  animation-name: fadeIn;
  background: $form-background;
  border-radius: 4px;
  height: 85vh;
  left: 0;
  margin-left: 45vw;
  margin-right: 3vw;
  min-width: 350px;
  overflow: auto;
  padding: 0 15px;
  position: absolute;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  width: 50vw;
}

.btn-maru {
  background: linear-gradient(to bottom, $golden, $golden-dark);
  box-shadow: 1px 1px 3px $gray-darked2;
  color: $white;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  text-decoration: none;
}

.btn-choose {
  background: linear-gradient(to bottom, $orangered, $red);
  box-shadow: 1px 1px 3px $gray-darked2;
  color: $white;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  text-decoration: none;
}

.btn-maru:hover {
  background: linear-gradient(to bottom, $btn-color1, $spring-green);
  text-decoration: none;
}

.btn-maru:active {
  background: linear-gradient(to bottom, $pink, $orangered);
  text-decoration: none;
}

.btn-batsu {
  background: linear-gradient(to bottom, $gray, $dark-silver);
  box-shadow: 1px 1px 3px $gray-darked2;
  color: $white;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  text-decoration: none;
}

.btn-search-table {
  padding: 36px 15px;
}

.btn-close-result {
  padding: 20px 15px;
}

.stylish-heading {
  color: $gray-dark;
  font-family: Love Ya Like A Sister;
  font-size: 5em;
  font-style: italic;
  font-variant: small-caps;
  text-align: center;
}

.h1style {
  margin-bottom: 5px;
  margin-top: 10px;
}

.h2style {
  font-size: 5em;
  margin-top: -10px;
}

.h3style {
  font-size: 2em;
  margin-top: -10px;
}

.form-control {
  background: $white;
  border: 1px solid $golden;
  border-radius: 4px;
  color: $gray-dark;
  height: 35px;
  padding: 5px 7px 5px 5px;
  width: 100%;
}

.form-control:focus {
  border: 1px solid $form-control-color;
  outline: none !important;
}

.form-label {
  color: $gray-dark;
  font-family: Love Ya Like A Sister;
  font-size: 1.5em;
  font-variant: small-caps;
  padding: 2px;
}

.btn-summit-table {
  display: none;
}

.btn-summit-table:hover {
  background: $golden-dark;
}

.btn-find-table {
  background: $light-green;
  display: inline-block;
  padding-top: 12px;
}

.btn-find-table:hover {
  background: $light-blue;
  display: inline-block;
  padding-top: 12px;
}

.map-table {
  height: 85%;
  margin: auto;
  padding: 1px;
  width: 95%;
}

.table-content {
  height: 90%;
  margin: .5vh;
}

.map2 {
  background: $outside-ground;
  display: inline-block;
  height: 62vh;
  margin: .5vh .5vh .5vh 1.5vw;
  width: 12vw;
}

.map3 {
  background: $inside-ground;
  display: inline-block;
  height: 62vh;
  margin: .5vh;
  padding-left: 1.5vw;
  position: absolute;
  width: 32vw;
}

.btn-oval-huge {
  border-radius: 50px;
  height: 16vh;
  width: 12vw;
}

.btn-rough-huge {
  height: 12vh;
  width: 12vw;
}

.btn-rough-big {
  height: 9vh;
  margin: 3vh 1.5vw;
  width: 9vw;
}

.btn-rough-md {
  height: 8vh;
  width: 4vw;
}

.btn-rough-sm {
  height: 7vh;
  margin: 1vh 1vw;
  width: 3.5vw;
}

.row2 {
  margin-left: .5vw;
}

.row3 {
  color: $golden;
  font-family: 'Love Ya Like A Sister', sans-serif;
  font-size: 2em;
  font-style: italic;
  font-variant: small-caps;
  height: 14vh;
  padding-top: 4vh;
  text-align: center;
  vertical-align: middle;
}

.btn-right {
  position: absolute;
  right: 5%;
}

.btn-left {
  left: 5%;
  position: absolute;
}

.btn-right2 {
  position: absolute;
  right: 12%;
}

.btn-left2 {
  left: 12%;
  position: absolute;
}

.btn-top {
  position: absolute;
  top: 5%;
}

.btn-top2 {
  position: absolute;
  top: 7%;
}

.btn-center {
  left: 30%;
  position: absolute;
}

.btn-midtop {
  position: absolute;
  top: 30%;
}

.btn-midbot {
  bottom: 30%;
  position: absolute;
}

.btn-midcen {
  left: 30%;
  position: absolute;
  top: 38%;
}

.btn-bottom {
  bottom: 5%;
  position: absolute;
}

.btn-bottom2 {
  bottom: 7%;
  position: absolute;
}

.btn-bottom3 {
  bottom: 2%;
  position: absolute;
}

.btn-guide {
  height: 5vh;
  width: 16vw;
}

.btn-test {
  background: $red;
}

.modal {
  background-color: $modal-background;
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.modal-content {
  animation-duration: 1s;
  animation-name: animatetop;
  background-color: transparent;
  border: 0;
  border-radius: 15px;
  box-shadow: 3px 6px 18px 3px $black-opacity, 0 6px 20px 0 $black-opacity;
  margin: auto;
  padding: 0;
  position: relative;
  transition: all ease 1s;
  width: 70%;
}

@keyframes animatetop {
  from {
    opacity: 0;
    top: -300px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

.close {
  color: $white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: $black;
  cursor: pointer;
  text-decoration: none;
}

.modal-header {
  background: $modal;
  border-radius: 10px 10px 0 0;
  color: $white;
  padding: 25px 15px 0;
}

.modal-body {
  background: $white;
  margin-bottom: -2px;
  padding: 0;
  transition: all ease 1s;
}

.modal-footer {
  background: $modal;
  border-radius: 0 0 10px 10px;
  color: $white;
  padding: 15px;
}

.close-modal {
  padding-top: 8px;

}

.btn-order {
  display: none;
}

.guest-info-confirmed {
  display: none;
}

.home-title {
  border: 1vh solid $white;
  color: $white;
  font-family: Love Ya Like A Sister, serif;
  font-size: 10vw;
  left: 15%;
  padding: 5vw;
  position: absolute;
  top: 30%;
}

.text-confirm-order {
  font-size: 2em;
}

.wrapper2 {
  width: 80vw;
}

.add-to-cart {
  background-color: $sushi;
  box-shadow: 0 2px 0 $dark-sushi;
  color: $white;
  font-size: 18px;
  height: 35px;
  position: relative;
  width: 10vw;
}

.add-to-cart:hover {
  background-color: $green-sushi;
}

.combo-title-style {
  color: $golden-dark;
  font-family: Love Ya Like A Sister, serif;
  font-size: 40px;
  font-weight: bold;
}

.small-description {
  color: $gray;
  font-size: 10px;
}

.term {
  li {
    list-style: none;
  }
}

.combo-include {
  color: $dark-red;
  font-family: monospace;
  margin-top: 30px;
}

.nav.navbar-nav.navbar-right {
  li a {
    color: $navbar-right;
    font-family: Sanchez, serif;
    font-size: 1vw;
    text-transform: uppercase;
  }
}

.popup {
  background: $white;
  border-radius: 5px;
  margin: 70px auto;
  padding: 20px;
  position: relative;
  transition: all 5s ease-in-out;
  width: 40%;
}

.popup h2 {
  color: $black;
  font-family: Love Ya Like A Sister, Tahoma, Arial, sans-serif;
  margin-top: 0;
}

.popup .close {
  color: $black;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  right: 30px;
  text-decoration: none;
  top: 20px;
  transition: all 200ms;
}

.popup .close:hover {
  color: $caribbean-green;
}

.popup .content {
  color: $black;
}

.rslides {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.rslides li {
  backface-visibility: hidden;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.rslides li:first-child {
  display: block;
  float: left;
  position: relative;
}

.rslides img {
  border: 0;
  display: block;
  float: left;
  height: auto;
  width: 100%;
}

.home-overlay {
  bottom: 0;
  left: 0;
  position: initial;
  right: 0;
  top: 0;
}

.flash-push {
  animation: fadeInOut 5s ease 1s forwards;
  background: $white;
  border-radius: 5px;
  bottom: 8%;
  box-shadow: 2px 6px 11px $flash-shadow;
  left: 3%;
  opacity: 0;
  padding: 20px;
  position: fixed;
  width: 19.5%;
  z-index: 9999;
}

.navbar-default {
  padding: 5px 5px 0;

  .fa-shopping-cart {
    font-size: 1.5em;
    margin-top: -.5vh;
  }

  .badge {
    background-color: $orangered;
    margin: -25px 0 0 -10px;
  }
}

.form-label-2 {
  font-size: 18px !important;
}

.p-form {
  color: $red;
  display: inline;
  font-size: 20px;
  font-weight: bolder;
}

.form-label-3 {
  color: $black !important;
  font-size: 20px !important;
}

.order-item {
  margin-bottom: 5px;

  span {
    color: $bitter;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
  }
}

.dp-inline {
  display: inline;
}

.total-price {
  color: $caribbean-green;
  padding: 7px 9px;
}

.width-10 {
  width: 10px;
}

.total {
  padding: 3px 9px;
}

.order-admin {
  .items-table {
    background: $white;
    border: 0;
    border-bottom: solid 1px $gray;
    margin-bottom: 30px;
    width: 100%;
  }

  h3 {
    display: inline-block;
  }

  h4 {
    padding-top: -10px;
  }

  h4 a {
    color: $red !important;
    margin-left: -10px;
  }

  .btn,
  td a {
    font-size: 18px !important;
  }

  .items-table tbody,
  tfoot {
    color: $black;
    font-family: Arial,Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
  }

  tfoot {
    background: $gray-light;
    border-top: solid 1px $gray;
  }

  .items-table tbody {
    background: $alabaster;
  }

  .foot {
    padding: 5px 9px;
    text-align: right;
  }

  .head {
    color: $cardinal;
    padding: 5px 9px;
    text-align: left;
  }

  .items-table th {
    background-color: $slide-link;
    border-color: $slide-link !important;
    color: $white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    padding: 6px 9px;
    text-transform: uppercase;
  }

  td,
  th {
    display: table-cell;
    vertical-align: inherit;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
  }

  tr:hover {
    background: $white;
  }

  .title {
    border-bottom: 1px solid $alto;
    color: $slide-link;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
  }
}

.fa-times {
  color: $white;
}

.bs-wizard-step {
  .fa-times {
    color: $white;
  }
}

.btn-voucher {
  background: $meadow !important;
  border-radius: 30px;
  box-shadow: 2px 3px 12px $black-overlay;
  color: $white;
  padding: 3px 5px;
  text-align: center !important;
}

.btn-voucher:hover {
  background: $caribbean-green !important;
  box-shadow: 2px 4px 25px $black-overlay;
}

.modal-part {
  background: transparent;
  min-height: 80px;
}

.modal-left {
  box-shadow: 6px 2px 14px 0 $black-opacity;
  z-index: 3;
}

.modal-right {
  box-shadow: 5px 2px 14px 0 $black-opacity;
  height: 100%;
  z-index: 3;
}

.row-padding {
  padding: 0 15px !important;
}

.input-form {
  background: $input;
  border: 0;
  height: 100%;
  margin: -5px 0 10px;
  text-align: center;
}

.input-form:focus {
  border: 0;
}

.btn-check {
  color: $shamrock;
  font-size: 2.5em;
  padding: 15px 5px;
}

.btn-check:hover {
  color: $caribbean-green;
}

.discount-code-input {
  font-family: Khand;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.text-row {
  margin: 0;
}

.modal-sm {
  width: 40vw;
}

.discount-result {
  animation: fadeInLeft ease-out .5s;
  margin-bottom: 0;
  padding: 10px 10px 10px 20px !important;
  text-align: center;
}

.choose-code-btn {
  animation: fadeInRight ease-out .5s;
  background: $gradient;
  border: 0;
  border-radius: 0;
  box-shadow: 6px 2px 14px 0 $black-opacity;
  color: $white;
  font-family: Khand;
  font-size: 2em;
  font-weight: bold;
  padding: 20px 0 8px !important;
  text-transform: uppercase;
}

.choose-code-btn:hover {
  background: $gradient-hover;
  box-shadow: 6px 2px 15px 2px $black-opacity;
}
