$brown: #533834;
$yellow: #aea512;
$orange: #fd8e18;
$red: #f00;
$white: #fff;
$gray: rgba(255, 255, 255, .15);
$black: rgba(0, 0, 0, .2);
$black2: #000;
$blue: #156c8e;

.uk-grid > * > :last-child {
  margin-bottom: 0;
}

.uk-text-center {
  text-align: center !important;
}

.uk-panel {
  text-decoration: none;
}

.uk-panel:hover {
  text-decoration: none;
}

.uk-panel {
  display: block;
  position: relative;
}

.uk-text-center .uk-module-title-alt {
  display: inline-block;
}

.uk-active {
  display: inline;
}

.uk-module-title-alt {
  display: table;
  position: relative;
}

.uk-margin-large-bottom {
  margin-bottom: 50px !important;
}

h2 {
  font-size: 32px;
  line-height: 36px;
}

.uk-h2 {
  font-size: 32px;
  line-height: 36px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $brown;
  font-family: 'Khand';
  font-weight: 400;
  margin: 0 0 15px;
  text-rendering: auto;
  text-transform: none;
}

[class*='uk-width'] {
  box-sizing: border-box;
  width: 100%;
}

.uk-grid > * {
  padding-left: 25px;
}

.uk-grid > * {
  flex: none;
  float: left;
  margin: 0;
}

.uk-margin-small {
  height: 60px;
  margin-bottom: 5px;
  vertical-align: center;

  a {
    color: $yellow !important;
    font-size: 28px;
    font-weight: 600;
  }

  p {
    font-family: FontAwesome;
  }
}

.tm-rating {
  list-style-type: none;
  margin: 0 0 20px;
  padding: 0;

  li {
    color: $orange;
    display: inline-block;
    line-height: 20px;
    padding-right: 1px;
  }
}

[class*='uk-icon-'] {
  display: inline-block;
  font-family: FontAwesome;
  font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.home-combos {
  background-color: $black2;
  min-height: 400px;

  h2 {
    color: $white;
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
  }
}

.home-combos-item {
  margin-top: 0;
  padding-bottom: 50px;
  padding-top: 30px;
}

.tm-price {
  color: $red;
  font-size: 36px !important;
  font-weight: 600;
  margin: 30px 0;
  font-family: monospace !important;
}

.uk-block-default {
  background: $white;
}

.uk-block {
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
}

.uk-block > :last-child {
  margin-bottom: 0;
}

.uk-container-center {
  margin-left: auto;
  margin-right: auto;
}

.uk-container {
  box-sizing: border-box;
  display: block;
  padding: 0 25px;
  position: relative;
  width: 100%;
}

.uk-block {
  display: block;
}

.uk-width-medium-1-4 {
  width: 90%;

  p {
    font-family: fantasy;
    font-size: 16px;
    min-height: 80px;
  }
}

.hot-dish {
  height: 150px !important;
  margin-bottom: 10px;
  width: 180px !important;
}

.uk-width-1-1 {
  width: 100%;
}

.uk-grid {
  margin-left: -25px;
}

.owl-carousel {
  margin-left: 3%;
  width: 96%;
}

.mk-padding-wrapper .vc-col-sm-12 {
  margin-bottom: 6%;
  margin-top: 6%;
}

.owl-theme .owl-controls .owl-buttons {
  margin-bottom: 14%;
  margin-top: -20%;

  div {
    background: transparent;

    img {
      top: -50%;
      width: 60px;
    }
  }
}

.carousel .owl-buttons {
  .owl-prev {
    float: left;
    margin-left: -70px;
    margin-top: -330px;
  }

  .owl-next {
    float: right;
    margin-right: -50px;
    margin-top: -330px;
  }

  owl-prev {
    float: left;
    margin-left: -70px;
    margin-top: -300px;
  }

  owl-next {
    float: right;
    margin-right: -50px;
    margin-top: -300px;
  }
}

.uk-slidenav-position {
  position: relative;
}

* + .uk-margin {
  margin-top: 15px;
}

.uk-margin {
  margin-bottom: 15px;
}

div {
  display: block;
}

.uk-contrast {
  color: $white;
}

.uk-grid-width-large-1-3 > * {
  margin-left: 2%;
  width: 90%;
}

.tm-inner-shadow .uk-panel-box {
  box-shadow: 0 0 0 5px $gray, 10px 10px 20px $black;
}

.uk-slideset .uk-panel-box {
  box-shadow: 0 0 0 5px $gray;
  margin: 2%;
  padding: 30px;
  width: 90%;

  .uk-panel-teaser {
    margin: -30px -30px 0;
  }

  p {
    color: $white;
    font-size: 16px;
    min-height: 80px;
  }

  h3 {
    background: linear-gradient(180deg, $gray 0%, $black 100%) $blue;
    border-bottom: 0;
    box-shadow: inset 0 4px 0 $black, inset 0 5px 0 $gray;
    color: $white;
    display: block;
    font-family: 'Khand';
    font-size: 24px;
    margin-left: -30px;
    margin-right: -30px;
    min-height: 80px;
    padding: 15px 60px 10px 30px;
    text-transform: capitalize;

    a {
      color: $white;
      font-weight: 600;
    }
  }

  h4 {
    color: $white;

    span {
      color: $yellow;
      font-size: 30px;
    }
  }
}

.mk-main-wrapper-holder {
  min-height: 70vh;
}

.uk-position-z-index {
  z-index: 1;
}

.uk-position-cover {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.uk-link {
  color: $blue;
  cursor: pointer;
  text-decoration: none;
}
