<%= link_to cart_path do %>
  <i class="fa fa-shopping-cart"
    aria-hidden="true"></i>
  <span class="badge">
    <small>
      <%= current_order.order_dishes.size + current_order.order_combos.size %>
    </small>
  </span>
<% end %>
